html {
    height: 100%;
    background-image: url(https://resources.owllabs.com/hs-fs/hubfs/astronomy-1867616_1920-jpg.jpeg?width=890&name=astronomy-1867616_1920-jpg.jpeg);
    background-size: cover;
    background-position: center;
  }
h1 {
  text-align: center;
  color: azure;
}
.button {
  background-color: aquamarine;
  border: none;
  color: darkblue;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
}